.footer-container{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    color: gray;
    opacity: 0.5;
}

.profile-content {
    
}

.change-div{

}